{{#with data}}
<div class="card" id="card-{{id}}">
    <div class="card_image" style="background-image: url({{photo}})"></div>
    <strong class="card_title">{{name}}</strong>
    <p class="card_text">{{description}}</p>
    <a href="#" class="card_button">Read All</a>
</div>
{{/with}}