<div class="upd_list">
    <div class="upd_list_image" style="background-image: url(https://picsum.photos/32/32)"></div>
    <div class="upd_list_text">
        <strong class="upd_name">@{{nickname}}</strong>
        <p class="upd_desc">{{description}}</p>
    </div>
</div>